[submodule "linshafun"]
	path = linshafun
	url = https://github.com/papalozarou/linshafun.git
	branch = main
[submodule "alpine-base"]
	path = alpine-base
	url = https://github.com/papalozarou/alpine-base.git
	branch = main
