# -----------------------------------------------------------------------------
# Services and applications
# -----------------------------------------------------------------------------
# Project specific
# -------------------------------------
test.sh
scratchpad.sh
TODO.md
update-root-hints.sh
pihole/etc-*
unbound/config
wireguard/config/client_*
wireguard/config/server
wireguard/config/.dont-touch-this-do-do-do-do
wireguard/config/wg0.conf

# -------------------------------------
# General
# -------------------------------------
*.log

# -------------------------------------
# Docker
# -------------------------------------
.env
docker-compose.yml
compose.yml

# -------------------------------------
# Git
# -------------------------------------
.git
.gitattributes
.github

# -------------------------------------
# Git
# -------------------------------------
.git
.gitattributes
.github

# -------------------------------------
# VSCode
# -------------------------------------
.vscode

# -------------------------------------
# Database files
# -------------------------------------
*.sqlite3

# ------------------------------------------------------------------------------
# Windows
# ------------------------------------------------------------------------------
# Windows image file caches
# -------------------------------------
Thumbs.db
ehthumbs.db

# -------------------------------------
# Folder config file
# -------------------------------------
Desktop.ini

# -------------------------------------
# Recycle Bin used on file shares
# -------------------------------------
$RECYCLE.BIN/

# -------------------------------------
# Windows Installer files
# -------------------------------------
*.cab
*.msi
*.msm
*.msp

# -------------------------------------
# Windows shortcuts
# -------------------------------------
*.lnk

# ------------------------------------------------------------------------------
# macOS
# ------------------------------------------------------------------------------
# Finder
# -------------------------------------
.DS_Store
.AppleDouble
.LSOverride

# -------------------------------------
# Thumbnails
# -------------------------------------
._*

# -------------------------------------
# Files that might appear on external disk
# -------------------------------------
.Spotlight-V100
.Trashes

# -------------------------------------
# Directories potentially created on remote AFP share
# -------------------------------------
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
.jenkins-external